body {
    font-family: 'Courier New', sans-serif;

    background-color: pink;
    text-align: center;
}

h1 {
    color: rgb(0, 0, 0);
}

.smaller-container1{
    width: 1000px;
    align-self: center;
    display:flex;
    flex-direction: column;
}

#posts{
    height: 300px;
    
    overflow-y: auto;
}
#posts::-webkit-scrollbar{
    width: 12px;
}
#posts::-webkit-scrollbar-track { 
    background: #f1f1f1; 
} 

#posts::-webkit-scrollbar-thumb { 
    background: #888; 
} 

#posts::-webkit-scrollbar-thumb:hover { 
    background: #555; 
} 

#posts::-webkit-scrollbar-button { 
    display: none; 
} 

img {
    max-width: 100%;
}
.post-comment-btn{
    background-color: rgb(243, 70, 205);
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

.post-comment-btn:hover{
    background-color: rgb(157, 6, 134);
    color: white;
}

.register-btn{
    border-radius: 5px;
    background-color: rgb(8, 71, 55);
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    width: 100px;
    cursor: pointer;
}

.register-btn:hover{
    background-color: rgb(27, 121, 97);
    color: white;
}

.login-btn{
    border-radius: 5px;
    background-color: rgb(8, 71, 55);
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    width: 100px;
    cursor: pointer;
}

.login-btn:hover{
    background-color: rgb(27, 121, 97);
    color: white;
}

.logout-btn {
    border-radius: 5px;
    background-color: #f44336;
    color: white;
    width: 100px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #e47e77;
    color: white;
}

.like-btn {
    font-size: 18px;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.like-btn:hover {
    color: rgb(255, 255, 255);
}

.dislike-btn {
    font-size: 18px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.dislike-btn:hover {
    color: red;
}

.interaction-sidebyside {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.bigger-container{
    display: flex;
}

.big-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;

}

.chat-textbox{
    padding: 10px 30px;
    margin-top: 3px;
    border-radius: 7px;
}

.post-form-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.Post-Container{
    width: 60%;
    align-self: center;
    top: 1%;
}


.post {
    background-color: rgb(224, 124, 181);
    margin-bottom: 20px;
}

.Authentication-Container{
    margin-top: 11%;
    width: 30%;
} 


.Real-registration-form-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.Real-login-form-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.login-textbox{
    padding: 10px 20px;
    margin-bottom: 3px;
}


.userlist {
    margin-top: 5%;
}

.userlayout {
    display: flex;
    flex-direction: column;
    align-items: center;
}