<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>
</head>
<body data-username="{{ username }}">
    <h1> Welcome, {{ username }}!</h1>
    <button id="toggleButton">Put image on screen</button>
    <img id="toggleImage" src="static/background/avocado.jpg" alt="Test Immage" style="max-width: 40%; height: 30%; margin-left: 30%;">



<div class="big-container">
    <div class="Post-Container">
        
            <h2>Create a Post</h2>
            <div class="post-form-wrap">
            <form action="/posts" method="POST" id ="post-form" enctype="multipart/form-data">
                <textarea name="content" class="chat-textbox" placeholder="What's on your mind?" required></textarea>
                <input type="file" name="image" accept="image/jpeg, image/png, image/gif">
                <select name="messageType" id="message-type-selector" class="my-select-class">
                    <option value="post">Post</option>
                    <option value="chat">Chat</option>
                </select>
                <button type="submit" class="post-comment-btn">Post Comment</button>

            </form>
        </div>
    
        <!-- Posts Section -->
        <div id="posts">
            {% for post in posts %}
            <div class="post">
                <span>
                    {% if post.messageType == 'dm' %}
                        Sent on: {{ post.created_at }}
                    {% else %}
                        Posted on: {{ post.created_at }}
                    {% endif %}
                </span>
                <p>
                    <strong>
                        {% if post.messageType == 'dm' %}
                            {{ post.sender }} (DM {{ post.receiver if post.receiver != username else 'you' }})
                        {% else %}
                            {{ post.username }}
                        {% endif %}
                    </strong>:
                    {{ post.content|safe }}
                </p>
                <!-- Display image if the post has an associated image -->
                {% if post.image %}
                <img src="{{ url_for('static', filename='image/' + post.image) }}" alt="User uploaded image">
                {% endif %}

                {% if post.messageType == 'post' %}
                <div class="interaction-sidebyside">
                <!-- Like Form -->
                <form method="POST" action="{{ url_for('interact') }}">
                    <input type="hidden" name="post_id" value="{{ post._id }}" />
                    <input type="hidden" name="interaction" value="Like" />
                    <button type="submit" class="like-btn"><i class="fas fa-thumbs-up"></i> ({{ post.get('like', 0) }})</button>
                </form>
                
                <!-- Dislike Form -->
                <form method="POST" action="{{ url_for('interact') }}">
                    <input type="hidden" name="post_id" value="{{ post._id }}" />
                    <input type="hidden" name="interaction" value="Dislike" />
                    <button type="submit" class="dislike-btn"><i class="fas fa-thumbs-down"></i> ({{ post.get('dislike', 0) }})</button>
                </form>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>

    </div>



    <div class="Authentication-Container">
        <div id="Fake-registration-form-wrap">
            <form action="/register" method="post" id="registration-form" class="Real-registration-form-wrap">
                <input type="text" name="username" class="login-textbox" placeholder="Enter a username" required>
                <input type="password" name="password" class="login-textbox" placeholder="Enter a new password" required>
                <input type="password" name="password2" class="login-textbox" placeholder="Repeat password" required>
                <button type="submit" class="register-btn">Register</button>
            </form>
        </div>

        <div id="Fake-login-form-wrap"> 
            <form action="/login" method="post" id="login-form" class="Real-login-form-wrap">
                
                <input type="text" name="username" class="login-textbox" placeholder="Username" required>
                <input type="password" name="password" class="login-textbox" placeholder="Password" required>
                <button type="submit" class="login-btn">Login</button>
            </form>
        </div>

        <form id="logout-form" action="/logout" method="post">
            <button type="submit" id="logout-button" class="logout-btn">Logout</button>
        </form>
        <div class="userlist">
            <h3>UserList</h3>
            <ul id="user-list" class="userlayout"></ul>
        </div>
    </div>
</div>

    <script src="static/js/script.js"></script>
</body>
</html>
